body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 98%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

button[type="submit"] {
  display: block;
  width: auto;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #4286f4;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3274d6;
}

button:hover {
  background-color: #3274d6;
}

button {
  display: block;
  margin-bottom: 10px;
  padding: 8px 16px;
  background-color: #4286f4;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.sucesso {
  color: green;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.entrada {
  opacity: 1;
}

div {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  background-color: #f9f9f9;
}

ol {
  margin-top: 10px;
  /* padding-left: 20px; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-items: center;
}

li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color: #4286f4;
  padding-left: 10px;  
  margin-left: 0px;

}

button {
  margin-right: 10px;
  margin-top: 10px;
}
